.ctn-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem;
}

/* IMG - CARD  */

.ctn-tapiceria {
    background-image: url('../../asset/image/tapiceria.png');
}

.ctn-multiproposito {
    background-image: url('../../asset/image/multiproposito.png');
}

.ctn-estampados {
    background-image: url('../../asset/image/estampados.png');
}

.ctn-corderito {
    background-image: url('../../asset/image/corderito.png');
}

.ctn-tusores {
    background-image: url('../../asset/image/tusores.png');
}

.ctn-silver {
    background-image: url('../../asset/image/silver.jpg');
    width: 450px;
    height: 100%;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.ctn-cordura {
    background-image: url('../../asset/image/cordura.jpg');
    width: 450px;
    height: 100%;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
}

/* IMG - CARD  */

.card-title {
    font-size: 40px;
}

.card-text {
    font-size: 20px;
}