.ctn-anchor-header {
  background-color: #e2f0fb;
  border: none;
}

.ctnLogo {
  width: 130px;
  height: 100%;
}

.logo {
  width: 100%;
  height: 100%;
}

/* @media screen and (min-width: 993px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }

  .dropdown:focus .dropdown-menu {
    display: block !important;
  }

  .dropdown .dropdown-menu.show {
    display: block !important;
  }
} */

.ctn-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #adc4cb96;
  z-index: 9999;
  transition: 1s;
  position: sticky;
  top: 0;
}

.ctn-header.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}