/* HEADER CARROUSEL */

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* HEADER CARROUSEL */

/* PRODUCTS CARROUSEL */

.ctn-panna {
  background-image: url('../../asset/image/panna.png');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.ctn-cuerina {
  background-image: url('../../asset/image/cuerina.jpeg');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* PRODUCTS CARROUSEL */

/* PRODUCTS CARDS */

.card-carrousel {
  height: 450px;
  width: 310px;
  border: solid 3px black;
  border-radius: 8px;
}

.ctn-photo-carrousel {
  height: 210px;
  width: 210px;
}

.photo-carrousel {
  width: 100%;
  height: 100%;
}

/* PRODUCTS CARDS */